<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddinc.ftpnow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ftp_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ftp_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".host.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".host.EditUserActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".host.HostMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".host.ManualActivity"
            android:label="@string/prefs_manual"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".host.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.SettingsWithActionbar" />
        <activity android:name=".connect.ConnectMainActivity" />
        <activity android:name=".explore.FilerExplorer"></activity>
    </application>

</manifest>